@charset "UTF-8";
/* global */
:root {
  --font-size: 24px;
  --font-size-h2: 32px;
}

@media (min-width: 1600px) {
  :root {
    --font-size: 28px;
    --font-size-h2: 36px;
  }
}
@media (max-width: 1140px) {
  :root {
    --font-size: 20px;
  }
}
@media (max-width: 520px) {
  :root {
    --font-size: 16px;
    --font-size-h2: 28px;
  }
}
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Montserrat";
  src: local("Montserrat-Regular"), url("../fonts/MontserratRegular.woff2") format("woff2"), url("../fonts/MontserratRegular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-display: swap;
  font-family: "Montserrat";
  src: local("Montserrat-Medium"), url("../fonts/MontserratMedium.woff2") format("woff2"), url("../fonts/MontserratMedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-Bold"), url("../fonts/MontserratBold.woff2") format("woff2"), url("../fonts/MontserratBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
html {
  position: relative;
  overflow-x: hidden;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  position: relative;
  overflow-x: hidden;
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
  background-color: #f8f8f6;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  font-size: var(--font-size);
  font-weight: 400;
  line-height: 1.4;
  color: #122947;
}

img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

svg {
  max-height: 100%;
}

button {
  padding: 0;
  cursor: pointer;
  border: none;
  background-color: transparent;
  font-family: inherit;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
p,
figure,
fieldset {
  margin: 0;
}

h2 {
  font-size: var(--font-size-h2);
}

iframe {
  border: none;
}

/* Доступно скрыть элементы */
.visually-hidden {
  position: fixed;
  transform: scale(0);
}

.container {
  width: 100%;
  max-width: 1404px;
  padding: 0 52px;
  margin: 0 auto;
}
@media (min-width: 1600px) {
  .container {
    max-width: 1600px;
    padding: 0 60px;
  }
}
@media (max-width: 940px) {
  .container {
    padding: 0 46px;
  }
}
@media (max-width: 520px) {
  .container {
    padding: 0 14px;
  }
}

.main {
  position: relative;
  max-width: 2000px;
  margin: 0 auto;
}

/* Модальное окно */
.modal-overlay {
  position: fixed;
  overflow-y: auto;
  padding: 20px 10px;
  z-index: 100;
  inset: 0;
  display: flex;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
}
.modal-overlay__close-button {
  position: fixed;
  color: #fff;
  top: 12px;
  right: 12px;
  font-size: 28px;
}

/* blocks */
.button-border {
  padding: 13px 27px;
  border: 1px solid #006373;
  border-radius: 5px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.4;
  transition: color 0.3s ease, border-color 0.3s ease, background-color 0.3s ease fill 0.3s ease, transform 0.1s ease;
}

.button-underline {
  padding-bottom: 7px;
  border-bottom: 1px solid currentColor;
}

svg {
  fill: #122947;
  transition: color 0.3s ease, border-color 0.3s ease, background-color 0.3s ease fill 0.3s ease, transform 0.1s ease;
}

a:hover svg {
  fill: #006373;
}

a:active svg {
  transform: scale(0.8);
}

.slider {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

/* components */
.header {
  position: absolute;
  width: 100%;
  padding: 32px 0;
  margin: 0 auto;
}
.header--border {
  border-bottom: 1px solid #006373;
}
.header__content {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}
.header__nav {
  display: flex;
  -moz-column-gap: 51px;
       column-gap: 51px;
}
.header__nav-list {
  display: flex;
  -moz-column-gap: 32px;
       column-gap: 32px;
}
.header__nav-item {
  font-weight: 400;
  font-size: 16px;
}
.header__icons {
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
.header__logo-img {
  height: 36px;
}

.hero {
  padding: 200px 0 70px;
  background: url("/img/hero-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.hero__content {
  display: flex;
  align-items: center;
  gap: 60px;
}
.hero__logo {
  flex-shrink: 0;
}
.hero__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 900px;
}
.hero__title {
  margin-bottom: 30px;
  text-align: center;
}
.hero__descr {
  margin-bottom: 40px;
  line-height: 1.45;
  text-align: center;
}
.hero__button {
  width: -moz-max-content;
  width: max-content;
}

.hits {
  padding: 140px 0;
}/*# sourceMappingURL=style.css.map */