@use "../variables" as *;

.categories {
  padding: 70px 0;
  background-color: $bg-dark;

  &__title {
    margin-bottom: 40px;
    text-align: center;
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 40px;
    row-gap: 25px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding: 30px;
  }

  &__text {
    grid-column: 5 / 4 span;
    grid-row: span 2;
    padding: 50px 20px;
  }

  &__descr:not(:last-of-type) {
    margin-bottom: 20px;
  }

  &__face {
    grid-column: span 4;
    grid-row: 1 / 2;
    background-image: url("../../img/categories-face.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  &__body {
    grid-column: span 4;
    grid-row: 2 / 3;
    background-image: url("../../img/categories-body.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  &__hair {
    grid-column: 9 / 13;
    grid-row: 1 / 3;
    height: 450px;
    background-image: url("../../img/categories-hair.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  &__item-title {
    margin-bottom: 14px;
    text-align: center;
  }
}